#player-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    padding: 0;
    margin-top: 20px;
}

/* Player Card */
#player-list li {
    list-style: none;
    color: white;
    font-weight: 600;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    text-align: center;
    background: linear-gradient(135deg, #6c63ff, #a78bfa);
    border: none;
    border-radius: 16px;
    padding: 10px 0;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
    animation: popIn 0.25s ease;
}

.player-list li {
    background: linear-gradient(135deg, #6c63ff, #a78bfa);
    transition: all 0.5s ease;
    animation: popIn 0.25s ease;
}

#player-list.player-list li:hover {
    transform: scale(1.05);
    text-decoration: line-through;
    background: linear-gradient(135deg, #f08080, #fa8072); !important
}


@keyframes popIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.lobby-wrapper {
    display: flex;
    gap: 32px;
    align-items: flex-start;
    justify-content: center;
    margin-top: 30px;
}

/* QR-Code Box */
.qr-container {
    margin: 20px auto;
    padding: 16px;
    background: white;
    border-radius: 16px;
    width: fit-content;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    text-align: center;
}

.qr-container p {
    margin-bottom: 10px;
    font-weight: 600;
}

/* Lobby bleibt flexibel */
.container {
    min-width: 420px;
    margin-top: 30px; !important
}